.registration{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1000;
  display: none;
  @include mq($until: desktop) {
  	overflow-y: auto;
  }
}

.registration-inner{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	@include mq($until: desktop) {
		background: $b-white;
		position: relative;
		height: auto;
	}
}

.registration-form{
	padding: 2rem 6rem;
	background:$b-white;
  width: 72rem;
  max-height: 98%;
  max-width: 90%;
  position: relative;	
  @include mq($until: desktop) {
  	position: initial;
  	width: 90%;
  	max-height: none;
  	padding: 2rem 0;
  }
}

.registration-title{
	margin-bottom: 2rem;
	color:$b-green;
	text-transform: uppercase;
	text-align: center;
	font-size:3rem;
	font-family: $ff-bebas-b;
	@include mq($until: mobile) {
		font-size:2rem;
	}
}

.registration-row{
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	@include mq($until: mobile) {
		margin-bottom: 0;
		flex-direction: column;
		justify-content: center;
	}
}

.registration-col{
	width: 45%;
	&.__check{
		display: flex;
		align-items: flex-end;
	}
	@include mq($until: mobile) {
		margin-bottom: 1rem;
		width: 100%;
	}
}

.registration-label{
	margin-bottom: 1rem;
	display: block;
	text-transform: uppercase;
	font-size:1.8rem;
	color:$b-green;	
	@include mq($until: mobile) {
		font-size:1.5rem;
	}
}

.registration-input{
	padding: 0.5rem;
	width: 100%;
	border:0;
	border-bottom: 1px solid #464646;
	font-family: $ff-bebas;
	color:black;
	font-size:1.3rem;
	text-transform: uppercase;
	&::placeholder{
		color:black;
		font-size:1.3rem;
		font-family: $ff-bebas;
	}	
	&.__email{
	&::placeholder{
		color:$b-red;
		font-size:1.3rem;
		font-family: $ff-bebas;
	}		
	}
}

.registration-desc{
	margin-top: 0.5rem;
	color:#5a5a5a;
	font-size:1rem;
	text-transform: uppercase;
	display: block;
}

.registration-select{
	padding: 0.5rem;
	width: 100%;
	border:0;
	border-bottom: 1px solid #464646;
	border-radius: 0;
	&:after{
		width: 0;
		height: 0;
		transform: none;
		border-style: solid;
		border-width: 6px 8px 0 8px;
		border-color: #464646 transparent transparent transparent;
	}
	&.open{
		&:after{
			transform: rotate(180deg);
		}
		.list{
			width: 100%;
		}
	}
}

.registration-checkbox__label {
  display: inline-block;
  position: relative;
  padding-left: 2.2rem;
  color:black;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
  user-select: none;
}

.registration-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  &:checked ~{
    .registration-checkbox__mark  {
      &:after {
        display: block;
    }
    }
  }
}

.registration-checkbox__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 3px;
  border:1px solid black;
  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 0;
    width: 3px;
    height: 8px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);   
  }
}

.registration-btn{
	margin:0 auto;
	display: block;
  max-width: 50%;
  padding:1rem 4rem;
  font-size:2.25rem;
  font-family: $ff-bebas-b;
  color:$b-white;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(146,11,18,1) 0%,rgba(214,15,25,1) 100%);
  box-shadow: 0px 3px 29px 0px rgba(0, 0, 0, 0.27);
  border:none;
  cursor: pointer;
  &:hover{
    background: linear-gradient(to top, rgba(104,8,8,1) 0%,rgba(165,13,23,1) 100%);
  }
  @include mq($until: mobile) {
  	max-width: 100%;
  	width: 100%;
  	padding:1rem 0;
  	font-size:2rem;
  }
}

.registration-close{
	top:1.3rem;
	right:1.3rem;
	position: absolute;
	cursor: pointer;
}