.prizes-row{
	margin-bottom: 4rem;
	display: flex;
	@include mq($until: desktop) {
		margin-bottom: 2rem;
		justify-content: space-between;
	}
	@include mq($until: mobile) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.prizes-col{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include mq($until: desktop) {
		width: 45%;
	}
	@include mq($until: mobile) {
		width: 100%;
	}
}

.prizes-title{
	margin-bottom: 2.5rem;
	text-transform: uppercase;
	font-size:2.9rem;
	color:$b-red;
	@include mq($until: desktop) {
		margin-bottom: 2rem;
		font-size:2rem;
	}
}

.prizes-img{
	height: 21rem;
	@include mq($until: desktop) {
		height: 15rem;
	}		
}

.prizes-img__item{
	max-height: 100%;
	max-width: 100%;
}

.prizes-desc{
	display: block;
	text-transform: uppercase;
	font-size:2.25rem;
	color:$b-red;	
	text-align: center;
	line-height: 1.2;
	@include mq($until: desktop) {
		font-size:1.5rem;
	}	
}

.prizes-desc-small{
	margin-top: 1rem;
	display: block;
	text-transform: uppercase;
	font-size:1rem;
	color:$b-green;	
	text-align: center;
	line-height: 1.2;	
	max-width: 70%;
}