@font-face {
  font-family: 'BebasNeue-Thin';
  src: url('../fonts/BebasNeue-Thin/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeue-Thin/BebasNeue-Thin.otf')  format('opentype'),
	     url('../fonts/BebasNeue-Thin/BebasNeue-Thin.woff') format('woff'), url('../fonts/BebasNeue-Thin/BebasNeue-Thin.ttf')  format('truetype'), url('../fonts/BebasNeue-Thin/BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBold';
  src: url('../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeueBold/BebasNeueBold.otf')  format('opentype'),
	     url('../fonts/BebasNeueBold/BebasNeueBold.woff') format('woff'), url('../fonts/BebasNeueBold/BebasNeueBold.ttf')  format('truetype'), url('../fonts/BebasNeueBold/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBook';
  src: url('../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeueBook/BebasNeueBook.otf')  format('opentype'),
	     url('../fonts/BebasNeueBook/BebasNeueBook.woff') format('woff'), url('../fonts/BebasNeueBook/BebasNeueBook.ttf')  format('truetype'), url('../fonts/BebasNeueBook/BebasNeueBook.svg#BebasNeueBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueLight';
  src: url('../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeueLight/BebasNeueLight.otf')  format('opentype'),
	     url('../fonts/BebasNeueLight/BebasNeueLight.woff') format('woff'), url('../fonts/BebasNeueLight/BebasNeueLight.ttf')  format('truetype'), url('../fonts/BebasNeueLight/BebasNeueLight.svg#BebasNeueLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeueRegular/BebasNeueRegular.otf')  format('opentype'),
	     url('../fonts/BebasNeueRegular/BebasNeueRegular.woff') format('woff'), url('../fontsBebasNeueRegular/BebasNeueRegular.ttf')  format('truetype'), url('../fonts/BebasNeueRegular/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
