<section class="cabinet">
	@@include('./templates/header-green.html')
	<div class="container">
		<h1 class="cabinet-title">
			Добро пожаловать, <span>Имя участника</span> !
		</h1>
		<form class="cabinet-login">
			<div class="cabinet-login__row">
				<span class="cabinet-login__text">Ошибка! Неправельно введен код</span>
				<input type="text" class="cabinet-login__input">
			</div>
			<button class="cabinet-login__btn">Зарегистрировать след</button>
		</form>
		<h3 class="cabinet-subtitle"><span class="ico icons-paw-green"></span>Мои следы</h3>
		<span class="cabinet-count">123</span>
		<span class="cabinet-collection"><span>Коллекция следов</span></span>
		<div class="cabinet-table">
			<div class="cabinet-row">
				<div class="cabinet-col">
					<span class="cabinet-label">Код</span>
					<span class="cabinet-text">YH6R2B14</span>
				</div>				
				<div class="cabinet-col">
					<span class="cabinet-label">Дата регистрации кода</span>
					<span class="cabinet-text">15.05.2018</span>
				</div>
				<div class="cabinet-col">
					<span class="cabinet-label">Как введен</span>
					<span class="cabinet-text">SMS</span>
				</div>
				<div class="cabinet-col">
					<span class="cabinet-label">Статус</span>
					<span class="cabinet-text">В обработке</span>
				</div>
			</div>
			<div class="cabinet-row">
				<div class="cabinet-col">
					<span class="cabinet-label">Код</span>
					<span class="cabinet-text">YH6R2B14</span>
				</div>
				<div class="cabinet-col">
					<span class="cabinet-label">Дата регистрации кода</span>
					<span class="cabinet-text">15.05.2018</span>
				</div>
				<div class="cabinet-col">
					<span class="cabinet-label">Как введен</span>
					<span class="cabinet-text">SMS</span>
				</div>
				<div class="cabinet-col">
					<span class="cabinet-label">Статус</span>
					<span class="cabinet-text">В обработке</span>
				</div>
			</div>
			<div class="cabinet-row">
				<div class="cabinet-col">
					<span class="cabinet-label">Код</span>
					<span class="cabinet-text">YH6R2B14</span>
				</div>				
				<div class="cabinet-col">
					<span class="cabinet-label">Дата регистрации кода</span>
					<span class="cabinet-text">15.05.2018</span>
				</div>
				<div class="cabinet-col">
					<span class="cabinet-label">Как введен</span>
					<span class="cabinet-text">SMS</span>
				</div>
				<div class="cabinet-col">
					<span class="cabinet-label">Статус</span>
					<span class="cabinet-text">В обработке</span>
				</div>
			</div>												
		</div>
		<span class="cabinet-alert">
			<span class="__red">Следопыт, внимание!</span><br> 
			Можно списать <span class="__red">10</span> следов - <span class="__red">500</span> тенге<br>  
			Списать следы? 
		</span>		
		<<form class="cabinet-action">
			<button class="cabinet-action__btn">Списать на баланс</button>
			<button class="cabinet-action__btn">списать на Qiwi-кошелек</button>
		</form>
		<span class="cabinet-alert">Можно не списывать следы и копить их дальше</span>	
	</div>
</section>