<div class="dropdown" id="dropdown">
	<form class="login">
		<div class="login-row">
			<label class="login-label" for="loginPhone">Номер Телефона</label>
			<input class="login-phone" id="loginPhone" placeholder="+7|">
		</div>
		<div class="login-row">
			<label class="login-label" for="loginPass">Номер Телефона</label>
			<div class="login-pass-container ">
				<input type="password" class="login-pass __invalid" id="loginPass">
				<span class="login-pass__text">неверный пароль.<a href="#" class="login-pass__text-link">Забыл пароль?</a></span>
			</div>
		</div>
		<div class="login-control">
			<div class="login-control-row">
				<button class="login-reg js-reg-btn">Регистрация</button>
				<button class="login-btn">Войти</button>				
			</div>
			<div class="login-link-row">
				<a href="#" class="login-link">Забыл пароль?</a>
			</div>
		</div>
	</form>
</div>