<footer>
	<div class="container">
		<div class="footer-col">
			<a href="tel:8-800-070-1971" class="footer-phone">8-800-070-1971</a>
			<span class="footer-desc">горячая линия, по срочным вопросам</span>
			<div class="footer-social">
				<a class="footer-social__item  ico icons-fb"></a>
				<a class="footer-social__item  ico icons-in"></a>
			</div>
			<button class="footer-feedback">Обратная связь</button>
		</div>
		<div class="footer-col">
			<a href="#" class="footer-logo">
				<img class="footer-logo__img" src="images/footerlogo.png">
			</a>
		</div>
		<div class="footer-col">
			<div class="footer-lang">
				<a href="#" class="footer-lang__item">РУС</a>
				<a href="#" class="footer-lang__item">Қаз</a>
			</div>
			<div class="footer-nav">
				<span class="footer-nav-item">
					<a href="#rules" class="footer-nav-link">Правила Следопыта</a>
				</span>
				<span class="footer-nav-item">
					<a href="prizes.html" class="footer-nav-link">Трофеи</a>
				</span>		
				<span class="footer-nav-item">
					<a href="#" class="footer-nav-link">Коллекция следопыта</a>
				</span>				
				<span class="footer-nav-item">
					<a href="winners.html" class="footer-nav-link">Доска почета</a>
				</span>									
			</div>
		</div>
	</div>
</footer>