<div class="modal js-modal-container">
  <div class="modal-inner">
  	<form class="modal-age">
  		<div class="modal-lang">
  			<a href="#" class="modal-lang__item">РУС</a>
  			<a href="#" class="modal-lang__item">Қаз</a>
  		</div>
  		<h1 class="modal-title">Вам есть 21 год?</h1>
  		<div class="modal-control">
  			<button class="modal-btn js-ok">Да</button>
  			<button class="modal-btn js-no">Нет</button>
  		</div>
			<label class="modal-checkbox__label">
			  <input type="checkbox" checked="checked" class="modal-checkbox">
			  <span class="modal-checkbox__mark"></span>
			  Я согласен с условиями промо  и даю согласие на сбор данных* 
			</label>	
			<div class="modal-error">
				<div class="modal-error-inner">
  			<span class="modal-error__text">
	  			к улову допускаются<br>
					следопыты <br>
					<span class="__red">старше 21 года</span>
	  		</span>
	  		<button class="modal-btn __error js-error-ok">ок</button>					
				</div>
  		</div>  		
  	</form>
  </div>
</div>