<section class="preview">
	@@include('./templates/header.html')
	<div class="container">
		<div class="preview-row">
			<div class="preview-left">
				<img class="preview-image" src="images/bottle.png">
			</div>
			<div class="preview-right">
				<h1 class="preview-title">
					Регистрируй следы,<br>
					Забирай улов до<br>
					100 000 тенге!
				</h1>	
				<span class="preview-alert">
					+200 тенге первым 5 000 участникам!
				</span>
				<div class="preview-reg">
					<span class="preview-reg__link">регистрировать cлед <a href="#" target="_blank">тут</a></span>
					<span class="preview-reg__sms">
						ИЛИ ОТПРАВЛЯЙ SMS НА КОРОТКИЙ НОМЕР <a href="tel:7102" target="_blank">7102</a>
					</span>
					<img src="images/pawgroup.png" class="preview-reg__img">
				</div>
			</div>
		</div>
	</div>
</section>