<section class="prizes">
	@@include('./templates/header-green.html')
	<div class="container">
		<div class="prizes-row">
			<div class="prizes-col">
				<h3 class="prizes-title">Телевизор</h3>
				<div class="prizes-img">
					<img class="prizes-img__item" src="images/tv2.png">
				</div>
				<span class="prizes-desc">Диагональ: 43</span>
			</div>
			<div class="prizes-col">
				<h3 class="prizes-title">набор для пикника</h3>
				<div class="prizes-img">
					<img class="prizes-img__item" src="images/set.png">
				</div>
				<span class="prizes-desc">Плед<br>
					решетка гриль<br>
					стол и стулья</span>
			</div>
		</div>
		<div class="prizes-row">
			<div class="prizes-col">
				<h3 class="prizes-title">Телевизор</h3>
				<div class="prizes-img">
					<img class="prizes-img__item" src="images/set2.png">
				</div>
				<span class="prizes-desc">Сумка-холодильник<br>
				Подставка для удочки<br>
				Удилище<br>
				блесна</span>
			</div>
			<div class="prizes-col">
				<h3 class="prizes-title">набор для пикника</h3>
				<div class="prizes-img">
					<img class="prizes-img__item" src="images/money.png">
				</div>
				<span class="prizes-desc">Деньги на баланс телефона<br>
				Деньги на qiwi кошелек</span>
				<span class="prizes-desc-small">Клиенты Beeline  и Active могут снимать наличные денежные средства  с баланса мобильного телефона через отделения АО «Казпочта» по всему Казахстану</span>			
			</div>
		</div>		
	</div>	
</section>