<section class="stepts">
	<div class="container">
		<div class="stepts-col">
			<div class="stepts-bottles-container">
				<div class="stepts-bottles">
					<div>
						<div class="stepts-bottles__item">
							<div class="stepts-bottles__price">
								<span class="ico icon-bucket"></span>
								<span class="ico icon-bucket-red"></span>
							</div>
							<div class="stepts-bottles__img-container">
								<img src="images/beer1.png" class="stepts-bottles__img">
							</div>
						</div>
					</div>
				  <div>
						<div class="stepts-bottles__item">
							<div class="stepts-bottles__price">
								<span class="ico icon-cup"></span>
								<span class="ico icon-cup-red"></span>
							</div>
							<div class="stepts-bottles__img-container">
								<img src="images/beer2.png" class="stepts-bottles__img">
							</div>
						</div>			  	
				  </div>
				  <div>
						<div class="stepts-bottles__item">
							<div class="stepts-bottles__price">
								<span class="ico icon-cup"></span>
								<span class="ico icon-cup-red"></span>
							</div>
							<div class="stepts-bottles__img-container">
								<img src="images/beer3.png" class="stepts-bottles__img">
							</div>
						</div>				  	
				  </div>
					<div>
						<div class="stepts-bottles__item">
							<div class="stepts-bottles__price">
								<span class="ico icon-bucket"></span>
								<span class="ico icon-bucket-red"></span>
							</div>
							<div class="stepts-bottles__img-container">
								<img src="images/beer4.png" class="stepts-bottles__img">
							</div>
						</div>
					</div>
				  <div>
						<div class="stepts-bottles__item">
							<div class="stepts-bottles__price">
								<span class="ico icon-cup"></span>
								<span class="ico icon-cup-red"></span>
							</div>
							<div class="stepts-bottles__img-container">
								<img src="images/beer5.png" class="stepts-bottles__img">
							</div>
						</div>			  	
				  </div>
				  <div>
						<div class="stepts-bottles__item">
							<div class="stepts-bottles__price">
								<span class="ico icon-cup"></span>
								<span class="ico icon-cup-red"></span>
							</div>
							<div class="stepts-bottles__img-container">
								<img src="images/beer6.png" class="stepts-bottles__img">
							</div>
						</div>				  	
				  </div>
				  <div>
						<div class="stepts-bottles__item">
							<div class="stepts-bottles__price">
								<span class="ico icon-cup"></span>
								<span class="ico icon-cup-red"></span>
							</div>
							<div class="stepts-bottles__img-container">
								<img src="images/beer7.png" class="stepts-bottles__img">
							</div>
						</div>				  	
				  </div>
				  <div>
						<div class="stepts-bottles__item">
							<div class="stepts-bottles__price">
								<span class="ico icon-cup"></span>
								<span class="ico icon-cup-red"></span>
							</div>
							<div class="stepts-bottles__img-container">
								<img src="images/beer8.png" class="stepts-bottles__img">
							</div>
						</div>				  	
				  </div>			  			  			  
				</div>
				<button class="stepts-bottles-prev"></button>
				<button class="stepts-bottles-next"></button>
			</div>
			<div class="steps-rules">
				<h3 class="steps-rules__title">Три шага участия:</h3>
				<ul class="steps-rules-list">
					<li class="steps-rules-list__item">
						<a href="#" class="steps-rules-link">Регистрируйся</a>
					</li>
					<li class="steps-rules-list__item">
						Находи следы <span class="ico icon-cup"></span> <span class="ico icon-bucket"></span>
					</li>
					<li class="steps-rules-list__item">
						Собирай коллекцию следопыта
						и обменивай ее на деньги <span class="ico icon-qiwi"></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="stepts-col __vertical">
				<h3 class="stepts-prize-title">трофеи:</h3>
				<div class="stepts-prize-container">
				<div class="stepts-prize">
					<div>
						<div class="stepts-prize-item">
							<img class="stepts-prize__img" src="images/tv.png">
							<span class="stepts-prize__text">Телевизор</span>
						</div>
					</div>
					<div>
						<div class="stepts-prize-item">
							<img class="stepts-prize__img" src="images/set.png">
							<span class="stepts-prize__text">набор для пикника</span>
						</div>						
					</div>
					<div>
						<div class="stepts-prize-item">
							<img class="stepts-prize__img" src="images/tv.png">
							<span class="stepts-prize__text">Телевизор</span>
						</div>
					</div>
					<div>
						<div class="stepts-prize-item">
							<img class="stepts-prize__img" src="images/set.png">
							<span class="stepts-prize__text">набор для пикника</span>
						</div>						
					</div>					
				</div>
				<button class="stepts-bottles-top"></button>
				<button class="stepts-bottles-bottom"></button>
			</div>
		</div>
	</div>
	<span class="stepts-info">
		Клиенты Beeline  и Active могут снимать наличные денежные средства  с баланса мобильного телефона через отделения АО «Казпочта» по всему Казахстану
	</span>
</section>