<section class="winners">
	@@include('./templates/header.html')
	<div class="container">
		<h1 class="winners-title"><span>Победители:</span></h1>
		<div class="winners-table">
			<div class="winners-row">
				<div class="winners-col"><span class="winners-name">Саша <span>+7 777 248 2* **</span></span></div>
				<div class="winners-col">
					<span class="winners-paws">
					<span class="ico icon-paw"></span>
					4334 
				</span>
				</div>
				<div class="winners-col">
					<span class="winners-prize">
					телевизор
					</span>	
				</div>
			</div>
			<div class="winners-row">
				<div class="winners-col"><span class="winners-name">Кайрат <span>+7 777 248 2* **</span></span></div>
				<div class="winners-col">
					<span class="winners-paws">
					<span class="ico icon-paw"></span>
					3334 
				</span>
				</div>
				<div class="winners-col">
					<span class="winners-prize">
					Набор для пикника
					</span>	
				</div>
			</div>
			<div class="winners-row">
				<div class="winners-col"><span class="winners-name">маша <span>+7 777 248 2* **</span></span></div>
				<div class="winners-col">
					<span class="winners-paws">
					<span class="ico icon-paw"></span>
					1455  
				</span>
				</div>
				<div class="winners-col">
					<span class="winners-prize">
					Набор для рыбалки
					</span>	
				</div>
			</div>
			<div class="winners-row">
				<div class="winners-col"><span class="winners-name">Айдос <span>+7 777 248 2* **</span></span></div>
				<div class="winners-col">
					<span class="winners-paws">
					<span class="ico icon-paw"></span>
					433   
				</span>
				</div>
				<div class="winners-col">
					<span class="winners-prize">
					+500 тг. на баланс
					</span>	
				</div>
			</div>
			<div class="winners-row">
				<div class="winners-col"><span class="winners-name">Айсулу <span>+7 777 248 2* **</span></span></div>
				<div class="winners-col">
					<span class="winners-paws">
					<span class="ico icon-paw"></span>
					133   
				</span>
				</div>
				<div class="winners-col">
					<span class="winners-prize">
					+200 тг. на qiwi кошелек
					</span>	
				</div>
			</div>												
		</div>		
	</div>
</section>